/* FAB Main in Navbar Styling */
.fab-center-btn {
    position: relative;
    /* Optional: make it pop out */
    /* top: -20px; */
}

.fab-main {
    width: 45px;
    height: 45px;
    background: var(--primary);
    /* Maintain primary color or specific gradient */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(225, 29, 72, 0.4);
    transition: transform 0.2s;
}

.fab-main:active {
    transform: scale(0.95);
}

.fab-main2 {
    width: 32px;
    height: 32px;
    background: var(--primary);
    /* Maintain primary color or specific gradient */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s;
}

.fab-main2:active {
    transform: scale(0.95);
}

.fab-center-btn span {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 600;
}